html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
    Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial,
    メイリオ, Meiryo, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #3d96e9;
}

a:hover {
  text-decoration: underline;
}
